.add-post-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.add-post-form {
  display: flex;
  flex-direction: column;
}

.add-post-form label {
  font-weight: 600;
  margin-top: 10px;
}

.add-post-form input,
.add-post-form select,
.add-post-form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.add-post-form button {
  margin-top: 20px;
  background-color: #713600;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-post-form button:hover {
  background-color: #713600;
}
